* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}


/*Scroll bar options finished*/

a {
    text-decoration: none;
    color: #fff;
}

nav {
    text-align: center;
    margin: auto;
    justify-content: space-evenly;
    display: flex;
}

.prevpro {
    padding-top: 3em;
    font-size: 1.5em;
}

.cv {
    padding-top: 3em;
    font-size: 1.5em;
}

.abme {
    font-size: 1.5em;
}

.mobilbtn {
    display: none;
}

.home {
    display: none;
}

span {
    padding-top: 3em;
}

.logo {
    padding-top: 3em;
    width: 7%;
}

h1 {
    margin: auto;
    margin-top: 5em;
    padding: 3em;
    font-size: 2.5rem;
    font-weight: 100;
    letter-spacing: 2px;
    border: 3px solid #fff;
    text-align: center;
    width: 35%;
}

h2 {
    margin: 5em;
    margin-left: 11em;
    padding: 3em;
    display: block;
    font-size: 2.5rem;
    font-weight: 100;
    letter-spacing: 2px;
    border: 3px solid #fff;
    text-align: center;
    width: 35%;
}

.projects {
    margin: auto;
    padding: 0%;
    width: 90%;
}

.zoom {
    transition: transform .2s;
}

.zoom:hover {
    transform: scale(1.5);
}

.aboutpro {
    margin: auto;
    padding: 0%;
    width: 70%;
}

.sec {
    display: grid;
    margin: auto;
    padding-left: 4em;
    padding-bottom: 8em;
    grid-template-columns: 1fr 1fr;
}

.btnam {
    margin: auto;
    margin-top: 1em;
    padding: 1.5em;
    text-align: center;
    background: none;
    border: solid;
    color: #fff;
    font-weight: 100;
    width: 40%;
}

.btnover {
    display: none;
}


/* controls the moving background*/

body {
    width: 100%;
    height: 100vh;
    color: #fff;
    background: linear-gradient(-45deg, #25bb8e, #2dad62, #23a6d5, #23d5ab);
    background-size: 600% 600%;
    position: relative;
    animation: change 10s ease-in-out infinite;
}

@keyframes change {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


/*End of moving back ground*/

.headshotmain {
    width: 40%;
}

.headshot {
    display: none;
}

.resmob {
    display: none;
}

.resume {
    margin: auto;
    padding-top: 5em;
    width: 70%;
}

#arrow {
    display: none;
}


/* This controls about me section*/

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    color: #f1f1f1;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    letter-spacing: 0.5px;
    line-height: 1.5em;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}


/*End of about me section control*/

footer {
    margin: auto;
    margin-top: 13em;
    padding: 3em;
    bottom: 0;
    position: relative;
    width: 90%;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    span {
        display: none;
    }
    .prevpro {
        display: none;
    }
    h1 {
        font-size: small;
        text-align: center;
        letter-spacing: 2px;
        border: 3px solid #fff;
        position: absolute;
        top: 30%;
        bottom: 55%;
        right: 15%;
        left: 15%;
        padding: 3em;
        padding-top: 4em;
    }
    .cv {
        display: none;
    }
    h2 {
        margin: auto;
        padding: 1em;
        padding-bottom: 3em;
        font-weight: 100;
        letter-spacing: 1px;
        text-align: center;
        border: solid;
    }
    .projects {
        margin: auto;
        padding: 0%;
        width: 50%;
    }
}

@media screen and (max-width: 636px) {
    h1 {
        font-size: small;
        text-align: center;
        letter-spacing: 2px;
        border: solid #fff;
        width: 50%;
        right: 15%;
        left: 15%;
        padding: 3em;
    }
    body {
        width: 100%;
        height: 100vh;
        color: #fff;
        background: linear-gradient(-45deg, #25bb8e, #2dad62, #23a6d5, #23d5ab);
        background-size: 700% 700%;
        position: relative;
        animation: change 10s ease-in-out infinite;
    }
    @keyframes change {
        0% {
            background-position: 0 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    nav {
        margin: auto;
    }
    span {
        display: none;
    }
    .prevpro {
        display: none;
    }
    .mobilbtn {
        display: block;
        text-align: center;
    }
    .cv {
        display: none;
    }
    h2 {
        margin-top: 7em;
        margin-bottom: 7em;
        font-size: small;
        text-align: center;
        letter-spacing: 2px;
        border: 3px solid #fff;
        padding: 3em;
        width: 50%;
    }
    .projects {
        display: block;
        margin: auto;
        width: 80%;
        box-shadow: black;
    }
    .aboutpro {
        margin: auto;
        padding: 2em;
        width: 85%;
    }
    .sec {
        display: inline;
        margin: auto;
        text-align: center;
    }
    .logo {
        width: 37%;
        position: relative;
        margin-top: 2em;
        padding: 0%;
    }
    .headshot {
        display: block;
        justify-content: center;
        width: 40%;
        margin: auto;
        padding-top: 50em;
    }
    .prevmob {
        margin: auto;
        margin-top: 1em;
        padding: 1.5em;
        text-align: center;
        background: none;
        border: solid;
        color: #fff;
        font-weight: 100;
        width: 40%;
    }
    .btnam {
        margin: auto;
        margin-top: 1em;
        padding: 1.5em;
        text-align: center;
        background: none;
        border: solid;
        color: #fff;
        font-weight: 100;
        width: 40%;
    }
    .home {
        margin: auto;
        margin-top: 2em;
        margin-bottom: 2em;
        padding: 1.5em;
        display: block;
        text-align: center;
        background: none;
        border: solid;
        color: #fff;
        font-weight: 100;
        width: 40%;
    }
    .resmob {
        text-align: center;
        display: block;
        margin: auto;
        padding: 2em;
        padding-top: 4em;
        letter-spacing: 1px;
    }
    footer {
        margin: auto;
        padding: 1.5em;
        position: relative;
        bottom: 0;
        justify-content: space-evenly;
    }
    .btnover {
        margin: auto;
        padding: 0;
        display: block;
        text-align: center;
    }
    .mobilbtn {
        margin-bottom: 20em;
        margin-top: 4em;
    }
    @keyframes bouncing {
        0% {
            bottom: 0;
        }
        50% {
            bottom: 20px;
        }
        100% {
            bottom: 0;
        }
    }
    #arrow {
        animation: bouncing 2s infinite ease-in-out;
        bottom: 0;
        display: block;
        width: 30%;
        left: 36%;
        position: absolute;
    }
}